/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body default styles */
body {
    background-color: palevioletred;
    min-height: 100vh;
    width: 100%;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    border: none;
    outline: none;
}
/* Toggle theme classes */
.toggleTheme {
    background-color: #ececec;
}
.toggleThemeBtn {
    color: palevioletred !important;
}
.toggleThemeCtn {
    background-color: #ececec !important;
}
/* End of toggle theme classes */
/* Start of content styles */
.container {
    position: relative;
    width: 100%;
    max-width: 800px;
    background-color: rgba(139, 74, 95, 0.28);
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.49), -5px -5px 15px rgba(0, 0, 0, 0.56);
    margin: 0 auto;
    padding: 4rem 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 1rem
}
/* Theme button */
.fa-circle-half-stroke {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    border: none;
    outline: none;
    transition: all 150ms ease;
    color:#ececec;
}
/* Theme button hover */
.fa-circle-half-stroke:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
/* Theme button active */
.fa-circle-half-stroke:active {
    transform: translateY(0);
}
/* Start of buttons */
/* Start of Power button with button tag */
#powerBtn {
    height: 200px;
    width: 200px;
    -webkit-appearance: none;
    box-shadow:
        -10px -10px 15px rgba(255, 255, 255, 0.5),
        10px 10px 15px rgba(70, 70, 70, 0.12);
    border-radius: 50%;
    border: 8px solid #ececec;
    outline: none;
    transition: all 150ms ease;
}
#powerBtn:hover {
    box-shadow: 
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    cursor: pointer;
}
#powerBtn:active ~ #powerBtn.fa-power-off{
    box-shadow: 
    inset -5px -5px 15px rgba(0, 0, 0, 0.07);
    color: #14e38a;
}
.fa-power-off {
    color: #7a7a7a;
    font-size: 70px;
}
.fa-power-off-toggle {
    color: #14e38a !important;
}
/* End of Power button with button tag */

/* Start of checkbox  */
input[type='checkbox'] {
    height: 200px;
    width: 200px;
    -webkit-appearance: none;
    box-shadow:
        -10px -10px 15px rgba(255, 255, 255, 0.5),
        10px 10px 15px rgba(70, 70, 70, 0.12);
    border-radius: 50%;
    border: 8px solid #ececec;
    outline: none;
    font-family: FontAwesome;
    transition: all 150ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ececec;
}
input[type='checkbox']:after {
    font-family: FontAwesome;
    content: '\f011';
    font-size: 70px;
    color: #7a7a7a;
}
input[type='checkbox']:checked {
    color: #14e38a;
    box-shadow: 
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    border: 8px solid #ececec;
}
input[type='checkbox']:checked:after {
    color: #14e38a;
}
/* End of checkbox  */
/* End of content styles */