* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: palevioletred;
    min-height: 100vh;
    width: 100%;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    outline: none;
    border: none;
}
.toggleTheme {
    background-color: #ececec;
}
.toggleThemeBtn {
    color: palevioletred !important;
}
.container {
    position: relative;
    width: 100%;
    max-width: 800px;
    background-color: rgba(139, 74, 95, 0.28);
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.49), -5px -5px 15px rgba(0, 0, 0, 0.56);
    margin: 0 auto;
    padding: 4rem;
    border-radius: 8px;
}
.fa-circle-half-stroke {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    border: none;
    outline: none;
    transition: all 150ms ease;
    color:#ececec;
}
.fa-circle-half-stroke:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
.fa-circle-half-stroke:active {
    transform: translateY(0);
}
button[type='button'] {
    height: 200px;
    width: 200px;
    -webkit-appearance: none;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
    border-radius: 50%;
    border: 8px solid #ececec;
    outline: none;
    font-family: FontAwesome;
    
}
.fa-power-off {
    font-family: FontAwesome;
    color: #7a7a7a;
    font-size: 70px;
}
